
<section class="cuerpo" id="inicio">
    <h2 class="titulos">Acerca de los cursos</h2>
    <p>
        Ofrecemos una plataforma flexible y accesible para que mejores tus habilidades con una amplia variedad de cursos
        en áreas como tecnología, negocios, diseño, y más, todos creados por expertos en la industria. Además de obtener
        certificaciones profesionales reconocidas, también tienes la opción de añadir tus propios cursos si eres un
        experto en alguna materia, ayudando a compartir tu conocimiento con nuestra comunidad global. Con un sistema
        fácil de usar y soporte continuo, podrás aprender o enseñar desde cualquier dispositivo, conectándote con
        estudiantes y profesionales de todo el mundo.
    </p>
</section>

