.cuerpo {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulos {
    color: black;
    font-size: 1.6rem;
}

p {
    padding: 2rem;
    justify-content: right;
}