
<section class="cuerpo" id="contactos">
    <h2 class="titulos">Contactos</h2>
    <ul class="contact-list">
        <li>
            Correo electrónico: <a href="mailto:email@ups.edu.ec">email.edu.ec</a>
        </li>
        <li>
            Número telefónico: <a href="tel:0912345678">0912345678</a>
        </li>
    </ul>

    <h3>Nuestras redes sociales</h3>
    <ul class="social-media">
        <li>
            <a href="//www.instagram.com" class="redes" id="insta">
                <img src="insta.png" class="logoImagen" alt="Instagram">Instagram
            </a>
        </li>
        <li>
            <a href="//www.facebook.com" class="redes" id="facebook">
                <img src="facebook.png" class="logoImagen" alt="Facebook">Facebook
            </a>
        </li>
        <li>
            <a href="//www.x.com" class="redes" id="x">
                <img src="x.png" class="logoImagen" alt="Twitter">X
            </a>
        </li>
    </ul>
</section>

