<header class="content">
  <h1 class="animated-title">Cursos</h1>

<nav>
  
  <ul id="menu">    
      <li><a href="#inicio" class="ania" > Inicio</a></li>
      <li><a href="#cursos" class="ania"> Cursos</a></li>
      <li><a href="#agregarNuevoCurso" class="ania"> Agregar curso</a></li>
      <li><a href="#contactos" class="ania"> Contactos</a></li>
  </ul>
  
</nav>
</header>

<section class="cuerpo" id="inicio">
  <h2 class="titulos">Acerca de los cursos</h2>
  <p>
      Ofrecemos una plataforma flexible y accesible para que mejores tus habilidades con una amplia variedad de cursos en áreas como tecnología, negocios, diseño, y más, todos creados por expertos en la industria. Además de obtener certificaciones profesionales reconocidas, también tienes la opción de añadir tus propios cursos si eres un experto en alguna materia, ayudando a compartir tu conocimiento con nuestra comunidad global. Con un sistema fácil de usar y soporte continuo, podrás aprender o enseñar desde cualquier dispositivo, conectándote con estudiantes y profesionales de todo el mundo.
  </p>    
</section>


<app-cursos></app-cursos>
<app-new-curso></app-new-curso>




<section class="cuerpo" id="contactos">
  <h2 class="titulos">Contactos</h2>
  <ul class="contact-list">
      <li>
          Correo electrónico: <a href="mailto:email@ups.edu.ec">email.edu.ec</a>
      </li>
      <li>
          Número telefónico: <a href="tel:0912345678">0912345678</a>
      </li>
  </ul>

  <h3>Nuestras redes sociales</h3>
  <ul class="social-media">
      <li>
          <a href="//www.instagram.com" class="redes" id="insta">
              <img src="insta.png" class="logoImagen" alt="Instagram">Instagram
          </a>
      </li>
      <li>
          <a href="//www.facebook.com" class="redes" id="facebook">
              <img src="facebook.png" class="logoImagen" alt="Facebook">Facebook
          </a>
      </li>
      <li>
          <a href="//www.x.com" class="redes" id="x">
              <img src="x.png" class="logoImagen" alt="Twitter">X
          </a>
      </li>
  </ul>
</section>




<router-outlet />