<header class="content">
    <h1 class="animated-title">Cursos</h1>
    <nav>
        <ul id="menu">
            <li><a href="#inicio" class="ania"> Inicio</a></li>
            <li><a href="#cursos" class="ania"> Cursos</a></li>
            <li><a href="#agregarNuevoCurso" class="ania"> Agregar curso</a></li>
            <li><a href="#contactos" class="ania"> Contactos</a></li>
        </ul>
    </nav>
    <div id="ciudad">
        Gracias por vistarnos desde {{ciudad}},{{pais}} 
        muy pronto nos pondremos en contacto con usted. 
    </div>
    
</header>

<app-inicio></app-inicio>

<app-cursos></app-cursos>

<app-new-curso></app-new-curso>

<app-contactos></app-contactos>

<router-outlet />